@tailwind base;
@tailwind components;
@tailwind utilities;

.circle {
    @apply aspect-square  flex items-center justify-center cursor-pointer rounded-full hover:shadow-2xl transition duration-300 ;
}



* {
    font-family: 'Inter', sans-serif;
    
}
.pacifico{
    font-family: 'Pacifico', cursive;
}
.lobster{
    font-family: 'Lobster', cursive;
}


html{
    scroll-behavior: smooth;
}